/* define primary colors */

$black: #363636;
$dark: #333333;
$white: #ffffff;
$yellow: #FFF94C;
$blueness: #6486C3;
$bluedark: #3567BE;
$blue: #0071BC;
$pink: #E21F6E;
$red: #DB0000;
$max-width: 1200px;
$phone: 576px;
$mobile: 768px;
$tablet :992px;
$laptop :1200px;

/* use the variables */